# ==========================================
# ENV TEMPLATE UNTUK DEVOPS (KUBERNETES)
# ==========================================
# Ganti nilai di bawah ini dengan secret K8s Anda saat deployment

# 1. ZITADEL CONFIG
# Base URL server ZITADEL Agforce
ZITADEL_ISSUER="https://sso.agforce.co.id"
# Service Account Machine Key dalam format Base64 (Role: ORG_USER_MANAGER)
ZITADEL_KEY_BASE64="ey..."

# 2. APP SECRETS (ENKRIPSI)
# Digunakan oleh iron-session untuk mengenkripsi cookie di sisi server (Wajib 32 karakter)
SESSION_SECRET="ganti-dengan-32-karakter-acak-di-production"
# Private Key RSA (PEM format) untuk mendekripsi payload password dari client
RSA_PRIVATE_KEY_PEM="-----BEGIN RSA PRIVATE KEY-----\nMIIE... \n-----END RSA PRIVATE KEY-----\n"

# 3. NODE & NEXT CONFIG (Opsional)
# HOSTNAME="0.0.0.0"
# PORT="3000"
